<!-- Validation failure messages -->
<% if @week.errors.any? %>
  <% @week.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Week #<%= @week.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_week/<%= @week.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for stage_id -->
      <div class="form-group">
        <label for="stage_id" class="control-label">
          Stage
        </label>

        <input type="text" id="stage_id" name="stage_id" placeholder="Stage" class="form-control" value="<%= @week.stage_id %>">
      </div>

      <!-- Label and input for issue_id -->
      <div class="form-group">
        <label for="issue_id" class="control-label">
          Issue
        </label>

        <input type="text" id="issue_id" name="issue_id" placeholder="Issue" class="form-control" value="<%= @week.issue_id %>">
      </div>

      <!-- Label and input for weeks -->
      <div class="form-group">
        <label for="weeks" class="control-label">
          Weeks
        </label>

        <input type="text" id="weeks" name="weeks" placeholder="Weeks" class="form-control" value="<%= @week.weeks %>">
      </div>

      <button class="btn btn-warning">
        Update Week
      </button>
      or
      <a href="/weeks/<%= @week.id %>">Cancel</a>
    </form>
  </div>
</div>
