<div class="page-header">
  <h3>Week #<%= @week.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Stage</dt>
      <dd><%= @week.stage_id %></dd>

      <dt>Issue</dt>
      <dd><%= @week.issue_id %></dd>

      <dt>Weeks</dt>
      <dd><%= @week.weeks %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/weeks" class="btn btn-primary">
        Back
      </a>
      <a href="/weeks/<%= @week.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_week/<%= @week.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Week has many media -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Media
      </li>

      <% @week.media.each do |medium| %>
        <li class="list-group-item">
          <a href="/media/<%= medium.id %>">
            <%= medium.week_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/media/<%= medium.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/media/<%= medium.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_medium/<%= medium.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
