<div class="page-header">
  <h3>Week #<%= @week.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Stage</dt>
      <dd><%= @week.stage_id %></dd>

      <dt>Issue</dt>
      <dd><%= @week.issue_id %></dd>

      <dt>Weeks</dt>
      <dd><%= @week.weeks %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/weeks" class="btn btn-primary">
        Back
      </a>
      <a href="/weeks/<%= @week.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_week/<%= @week.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
