<div class="page-header">
  <h3>Issue #<%= @issue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @issue.user_id %></dd>

      <dt>Name</dt>
      <dd><%= @issue.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/issues" class="btn btn-primary">
        Back
      </a>
      <a href="/issues/<%= @issue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_issue/<%= @issue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Issue has many stages -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Stages
      </li>

      <% @issue.stages.each do |stage| %>
        <li class="list-group-item">
          <a href="/stages/<%= stage.id %>">
            <%= stage.issue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/stages/<%= stage.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/stages/<%= stage.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_stage/<%= stage.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_stage" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for issue_id -->
      <input type="hidden" name="issue_id" value="<%= @issue.id %>">

      <!-- Label and input for stage_number -->
      <div class="form-group">
        <label for="stage_number" class="control-label">
          Stage number
        </label>

        <input type="text" id="stage_number" name="stage_number" placeholder="Stage number" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Stage
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Issue has many enrollments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Enrollments
      </li>

      <% @issue.enrollments.each do |enrollment| %>
        <li class="list-group-item">
          <a href="/enrollments/<%= enrollment.id %>">
            <%= enrollment.issue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/enrollments/<%= enrollment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/enrollments/<%= enrollment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_enrollment/<%= enrollment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_enrollment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for issue_id -->
      <input type="hidden" name="issue_id" value="<%= @issue.id %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Enrollment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Issue has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @issue.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
