<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many enrollments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Enrollments
      </li>

      <% @user.enrollments.each do |enrollment| %>
        <li class="list-group-item">
          <a href="/enrollments/<%= enrollment.id %>">
            <%= enrollment.issue_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/enrollments/<%= enrollment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == enrollment.user %>
              <a href="/enrollments/<%= enrollment.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_enrollment/<%= enrollment.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many issues -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Issues
      </li>

      <% @user.issues.each do |issue| %>
        <li class="list-group-item">
          <a href="/issues/<%= issue.id %>">
            <%= issue.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/issues/<%= issue.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/issues/<%= issue.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_issue/<%= issue.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
