<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Enrollment #<%= @enrollment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_enrollment/<%= @enrollment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for issue_id -->
      <div class="form-group">
        <label for="issue_id" class="control-label">
          Issue
        </label>

        <input type="text" id="issue_id" name="issue_id" placeholder="Issue" class="form-control" value="<%= @enrollment.issue_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @enrollment.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Enrollment
      </button>
      or
      <a href="/enrollments/<%= @enrollment.id %>">Cancel</a>
    </form>
  </div>
</div>
