<!-- Validation failure messages -->
<% if @enrollment.errors.any? %>
  <% @enrollment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Enrollment #<%= @enrollment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_enrollment/<%= @enrollment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for issue_id -->
      <div class="form-group">
        <label for="issue_id" class="control-label">
          Issue
        </label>

        <%= select_tag(:issue_id, options_from_collection_for_select(Issue.all, :id, :user_id, @enrollment.issue_id), :class => "form-control") %>
      </div>

      
      

      <button class="btn btn-warning">
        Update Enrollment
      </button>
      or
      <a href="/enrollments/<%= @enrollment.id %>">Cancel</a>
    </form>
  </div>
</div>
