<!-- Validation failure messages -->
<% if @stage.errors.any? %>
  <% @stage.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Stage #<%= @stage.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_stage/<%= @stage.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for issue_id -->
      <div class="form-group">
        <label for="issue_id" class="control-label">
          Issue
        </label>

        <input type="text" id="issue_id" name="issue_id" placeholder="Issue" class="form-control" value="<%= @stage.issue_id %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @stage.name %>">
      </div>

      <button class="btn btn-warning">
        Update Stage
      </button>
      or
      <a href="/stages/<%= @stage.id %>">Cancel</a>
    </form>
  </div>
</div>
