<div class="page-header">
  <h3>Stage #<%= @stage.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Issue</dt>
      <dd><%= @stage.issue_id %></dd>

      <dt>Name</dt>
      <dd><%= @stage.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/stages" class="btn btn-primary">
        Back
      </a>
      <a href="/stages/<%= @stage.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_stage/<%= @stage.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Stage has many weeks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Weeks
      </li>

      <% @stage.weeks.each do |week| %>
        <li class="list-group-item">
          <a href="/weeks/<%= week.id %>">
            <%= week.stage_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/weeks/<%= week.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/weeks/<%= week.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_week/<%= week.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_week" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for stage_id -->
      <input type="hidden" name="stage_id" value="<%= @stage.id %>">

      <!-- Label and input for issue_id -->
      <div class="form-group">
        <label for="issue_id" class="control-label">
          Issue
        </label>

        <input type="text" id="issue_id" name="issue_id" placeholder="Issue" class="form-control" value="">
      </div>

      <!-- Label and input for weeks -->
      <div class="form-group">
        <label for="weeks" class="control-label">
          Weeks
        </label>

        <input type="text" id="weeks" name="weeks" placeholder="Weeks" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Week
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
