<div class="page-header">
  <h3>Stage #<%= @stage.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Issue</dt>
      <dd>
        <% if @stage.issue.present? %>
          <a href="/issues/<%= @stage.issue_id %>">
            <%= @stage.issue.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>Stage number</dt>
      <dd><%= @stage.stage_number %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/stages" class="btn btn-primary">
        Back
      </a>
      <a href="/stages/<%= @stage.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_stage/<%= @stage.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Stage has many media -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Media
      </li>

      <% @stage.media.each do |medium| %>
        <li class="list-group-item">
          <a href="/media/<%= medium.id %>">
            <%= medium.week_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/media/<%= medium.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/media/<%= medium.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_medium/<%= medium.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_medium" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for week_id -->
      <div class="form-group">
        <label for="week_id" class="control-label">
          Week
        </label>

        <input type="text" id="week_id" name="week_id" placeholder="Week" class="form-control" value="">
      </div>

      <!-- Label and input for stage_id -->
      <input type="hidden" name="stage_id" value="<%= @stage.id %>">

      <!-- Label and input for article -->
      <div class="form-group">
        <label for="article" class="control-label">
          Article
        </label>

        <input type="text" id="article" name="article" placeholder="Article" class="form-control" value="">
      </div>

      <!-- Label and input for video -->
      <div class="form-group">
        <label for="video" class="control-label">
          Video
        </label>

        <input type="text" id="video" name="video" placeholder="Video" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Medium
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
