<div class="page-header">
  <h1>
    Media
    <a href="/media/new" class="btn btn-lg btn-success">New Medium</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "media_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :video_cont, "Video contains" %>
    <%= f.text_field :video_cont, :class => "form-control", :placeholder => "Video contains" %>
  </div>

<div class="form-group">
    <%= f.label :article_cont, "Article contains" %>
    <%= f.text_field :article_cont, :class => "form-control", :placeholder => "Article contains" %>
  </div>

<div class="form-group">
  <%= f.label :stage_id, "Stage" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :stage_id_gteq, :class => "form-control", :placeholder => "Stage greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :stage_id_lteq, :class => "form-control", :placeholder => "Stage less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/media" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#media_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Week</th>
        <th>Stage</th>
        <th>Article</th>
        <th>Video</th>
        <th>Actions</th>
      </tr>

      <% @media.each do |medium| %>
      <tr>
        <td>
          <% if medium.week.present? %>
            <a href="/weeks/<%= medium.week.id %>">
              <%= medium.week.stage_id %>
            </a>
          <% end %>
        </td>
        <td><%= medium.stage_id %></td>
        <td><%= medium.article %></td>
        <td><%= medium.video %></td>
        <td>
          <a href="/media/<%= medium.id %>" class="btn btn-primary">Show</a>
          <a href="/media/<%= medium.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_medium/<%= medium.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @media, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
