<div class="page-header">
  <h3>Medium #<%= @medium.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Week</dt>
      <dd><%= @medium.week_id %></dd>

      <dt>Stage</dt>
      <dd>
        <% if @medium.stage.present? %>
          <a href="/stages/<%= @medium.stage_id %>">
            <%= @medium.stage.issue_id %>
          </a>
        <% end %>
      </dd>

      <dt>Article</dt>
      <dd><%= @medium.article %></dd>

      <dt>Video</dt>
      <dd><%= @medium.video %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/media" class="btn btn-primary">
        Back
      </a>
      <a href="/media/<%= @medium.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_medium/<%= @medium.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
